  <section class = "pa4 black-80">
    <header>
      <h1>{{{role.role_name}}}</h1>
      <p>{{{role.role_desc}}}</p>
      <small>{{{role.start_date}}} until {{{role.end_date}}}</small>
      <small>From {{{role.org_name}}}</small>
    </header>
    <form class="" action="./addvolunteer" method="post">
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="name">Fill Name :</label>
        <input class="input-reset ba measure w-80" type="text" id="name" name="user_name">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="age">Age:</label>
        <input class="input-reset mw2" type="number" id="age" name="user_age">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="msg">Availability:</label>
        <textarea class="reset b--black w-100 measure-wide" id="msg" name="user_message"></textarea>
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="phone">Phone Number:</label>
        <input class="input-reset ba w-80 measure-narrow" type="number" id="phone" name="user_phone">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="mail">E-mail:</label>
        <input class="input-reset ba measure w-90" type="email" id="mail" name="user_mail">
      </div>
      <div class="mt3">
        <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Submit Details">
      </div>
    </form>
  </section>
</form>
