{{> header}}
<ul class="ph1 tc">
  {{#each roleList}}
  <li class="list bt bb pv1 mv1 shadow-5">
    <h2>{{this.role_name}}</h2>
    <h4>{{this.org_name}}</h4>
    <h4>{{this.start_date}}</h4>
    <h4>{{this.end_date}}</h4>
      {{#unless this.num_applied}}
        <div class= " f6 lh-copy  mb3 br2  mw5-5 ba b--ourgreen dib pa1">
          {{../text.numApplied}}
        </div>
      {{/unless}}

    <div class="flex justify-between w-80 center">
      <i class="altbg shadow-2 mw4 tc brown link grow f5 ba br3
      pa2 bg-leave fa fa-angle-double-down" id="moreBtn"></i>
      <!-- Use the 'link' helper to convert the id of the role into a link to apply-->
      {{{link this._id}}}
    </div>
    <!-- Add hidden section with more information about the role -->
    <section class="moreinfo" >
      <p class="fw6">{{../text.roleDesc}}</p><p>{{this.role_desc}}</p>
      <p class="fw6">{{../text.OrgDesc}}</p><p>{{this.org_desc}}</p>
      <!-- <a class="" href="" id="closeBtn">X</a> -->
    </section>
  </li>
  {{/each }}
</ul>
