{{> header}}

<section class="">
  <article class="pa3 tc">
    <p class="center mw-80 lh-copy">{{text.orgFormIntro}}</p>
  </article>

  <form class="ph3 black-100" action="/addrole" method="post">
    <div class="mt3">
      <label class="db fw4 lh-copy f4" for="org-name">{{text.orgFormName}}</label>
      <!-- we take what we filled and keep it in the form -->
      <input class="pa2 input-reset ba altbg w-40-m w-20-l w-100 br2" type="text" id="org-name" name="org_name" {{#if prefilled}}
          {{#each prefilled}}
          value={{this.org_name}}
          {{/each}}
        {{/if}}>
    </div>
    <div class="mt3">
      <label class="db fw4 lh-copy f4" for="org-desc">{{text.orgFormDesc}}</label>
      <textarea class="pa2 input-reset ba altbg w-50-m w-50-l w-100 br2" id="org-desc" name="org_desc">{{#if prefilled}}{{#each prefilled}}{{this.org_desc}}{{/each}}{{/if}}</textarea>
    </div>
    <div class="mt3">
      <label class="db fw4 lh-copy f4" for="role-name">{{text.orgFormRolename}}</label>
      <input class="pa2 input-reset ba altbg w-40-m w-40-l w-100 br3" type="text" id="role-name" name="role_name" {{#if prefilled}}
          {{#each prefilled}}
            value={{this.role_name}}
          {{/each}}
        {{/if}}>
    </div>
    <div class="mt3">
      <label class="db fw4 lh-copy f4" for="role-desc">{{text.orgFormRoleDesc}}</label>
      <textarea class="pa2 input-reset ba altbg w-50-m w-50-l w-100 br2" id="role-desc" name="role_desc"> {{#if prefilled}}{{#each prefilled}}{{this.role_desc}}{{/each}}{{/if}}</textarea>
    </div>
    <div class="mt3">
      <label class="db fw4 lh-copy f4" for="num_vol">{{text.orgFormVolnum}}</label>
      <input class="pa2 input-reset ba altbg w-20-m w-20-l w-60 mw3 br2" type="number" id="num_vol" name="num_vol" min="1" step="1" {{#if prefilled}}
          {{#each prefilled}}
            value={{this.num_vol}}
          {{/each}}
        {{/if}}>
    </div>
    <div class="mt3">
      <label class="db fw4 lh-copy f4" for="start-date">{{text.orgFormStartdate}}</label>
      <input class="pa2 input-reset ba altbg w-20-m w-10-l w-100 mw5 br2" type="date" id="start-date" name="start_date" {{#if prefilled}}
          {{#each prefilled}}
            value={{this.start_date}}
          {{/each}}
        {{/if}}>
    </div>
    <div class="mt3">
      <label class="db fw4 lh-copy f4" for="end_date">{{text.orgFormEnddate}}</label>
      <input class="pa2 input-reset ba altbg w-20-m w-10-l w-100 mw5 br2" type="date" id="end_date" name="end_date" {{#if prefilled}}
          {{#each prefilled}}
            value={{this.end_date}}
          {{/each}}
        {{/if}}>
    </div>
    <div class="mt3">
      <label class="db fw4 lh-copy f4" for="phone">{{text.orgFormPhonenum}}</label>
      <input class="pa2 input-reset ba altbg w-40-m w-20-l w-100 br2" type="text" id="phone" name="user_phone" {{#if prefilled}}
          {{#each prefilled}}
            value={{this.user_phone}}
          {{/each}}
        {{/if}}>
    </div>
    <div class="mt3">
      <label class="db fw4 lh-copy f4" for="mail">{{text.orgFormEmail}}</label>
      <input class="pa2 input-reset ba altbg w-40-m w-20-l w-100 br2" type="email" id="mail" name="user_mail" {{#if prefilled}}
          {{#each prefilled}}
            value={{this.user_mail}}
          {{/each}}
        {{/if}}>
    </div>
    {{#if error}}
      {{#each error}}
      <!-- // error mistake -->
      <small class="light-red">{{this.msg}}</small><br>
      {{/each }}
    {{/if}}
    <div class="mt3">
      <input class="input-reset altbg shadow-2 db tc brown link grow f5 pl4 pr3 ba br3 pv2 bg-leave" type="submit" value={{text.orgFormSubmit}}>
    </div>
  </form>
</section>
